!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Overrealm"
      %meta{:content => content_for?(:description) ? yield(:description) : "Overrealm", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container-fluid
          = render 'layouts/navigation_top'
    #main{:role => "main"}
      .container-fluid
        .row-fluid
          .span12
            = render 'layouts/messages'
            = yield
    %footer.navbar.navbar-fixed-bottom
      %nav.navbar-inner
        .container-fluid
          = render 'layouts/navigation_bottom'
